<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        New Customer Form
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>
    <div class="content">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Customer</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

          <%= form_for ([:admin,@customer]) do |f| %>
          <div class="form-group">
            <%= f.label :name%>
            <%= f.text_field :name , class:"form-control" , placeholder: "Enter Name"%>
          </div>
          <div class="form-group">
            <%= f.label :address%>
            <%= f.text_field :address , class:"form-control" , placeholder: "Enter Address"%>
          </div>
          <div class="form-group">
            <%= f.label :contact%>
            <%= f.text_area :contact , class:"form-control" , placeholder: "Enter Contact"%>
          </div>
          <div class="form-group">
            <%= f.submit  class: "btn btn-lg btn-primary" %>
          </div>
          <% end %>
        </div>
        <!-- Box Body-->

      </div>
    </div>
  </div>
</div>
</div>
