<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Invoice
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>
    <div class="content">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Create Invoice</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="padding:10px 20px;">
          <div class="row">
            <div class="col-md-12">
              <%= simple_form_for [:admin,@invoice] do |f| %>
                <div class="row">
                  <div class="col-md-2">
                    <!-- Master part -->
                      <div class="content">
                        <%= render 'form_master' ,f: f %>
                      </div>
                  </div>

                  <div class="col-md-10">
                    <!-- Details Header -->
                    <div class="row">
                      <div class="col-md-7">
                        <p>Name</p>
                      </div>
                      <div class="col-md-1">
                        <p>Width</p>
                      </div>
                      <div class="col-md-1">
                        <p>Length</p>
                      </div>
                      <div class="col-md-1">
                        <p>Quantity</p>
                      </div>
                      <div class="col-md-1">
                        <p>Price</p>
                      </div>
                    </div>
                    <!-- Detail Fields -->
                    <div class="invoices">
                      <%= f.simple_fields_for :productions do |production| %>
                        <%= render 'production_fields' , f: production %>
                      <% end %>
                      <div class="links">
                        <%= link_to_add_association "Add", f , :productions , class: 'btn btn-md btn-success' %>
                      </div>
                    </div>
                  </div>

                    <!-- Button Add Dynamic Productions -->
                    <div class="form-group" style="padding: 15px;">
                      <%= f.submit class: 'btn btn-lg btn-primary'%>
                    </div>
                    <% end %>
                </div>
            </div>
          </div><!-- row-->
        </div><!-- Box Body-->
      </div><!-- Warning-->
    </div><!-- Content-->
  </div>
</div>
