<div class="form-group">
  <%= f.label 'អតិថិជន' %>
  <%= f.collection_select(:customer_id, Customer.all, :id, :name_with_contact, {:prompt => true} )  %>
</div>
<div class="form-group">
  <%= f.label :release_date%>
  <div class="input-group date">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :release_date, data:{ provide:'datepicker'} , class: 'datepicker form-control'%>
  </div>
</div>
<!-- </div> -->
<div class="form-group">
  <%= f.label :deposit%>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.text_field :deposit , class: "form-control" %>
  </div>
</div>
