<div class="nested-fields">
  <div class="row">
    <div class="form-group col-md-7">
      <%= f.text_area :name , class:"form-control" , placeholder: "Name"%>
    </div>
    <div class="form-group col-md-1">
      <%= f.text_field :width , class:"form-control" , placeholder: "Width"%>
    </div>
    <div class="form-group col-md-1">
      <%= f.text_field :length , class:"form-control" , placeholder: "Length"%>
    </div>
    <div class="form-group col-md-1">
      <%= f.text_field :quantity , class:"form-control" , placeholder: "Quntity"%>
    </div>
    <div class="form-group col-md-1">
      <%= f.text_field :price , class:"form-control" , placeholder: "Price"%>
    </div>
    <div class="form-group col-md-1">
      <%= link_to_remove_association(f) do %>
        <i class="btn btn-danger">Remove</i>
      <% end %>
    </div>
  </div>
</div>
