<div class="box">
  <div class="box-header">
    <h3 class="box-title">Productions</h3><br><br>
    <div class="box-body no-padding no-border">
      <table class="table table-hover table-responsive">
        <tbody>
          <tr>
            <th>No</th>
            <th>Invoice Number</th>
            <th>Production Name</th>
            <th>Width</th>
            <th>Length</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          <% @invoice.productions.each_with_index do |production,index| %>
          <tr>
            <td><%= index +1%></td>
            <td><%= production.invoice_id %></td>
            <td><%= production.name %></td>
            <td><%= production.width %>m</td>
            <td><%= production.length %>m</td>
            <td><%= production.quantity %></td>
            <td><%= number_to_currency(production.price) %></td>
            <td><%= number_to_currency(@total_price) %></td>
            <td>
              <%= link_to "Edit", edit_admin_production_path(production), class: "btn btn-sm btn-warning " %>
              <%= link_to "Delete", admin_production_path(production), class: "btn btn-sm btn-danger " , method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
