<div class="box">
  <div class="box-header">
    <h3 class="box-title">Invoice</h3><hr>
    <div class="box-body no-padding no-border"></div>
    <div class="row">
      <div class="col-md-9">
        <p><b>Customer ID</b></p>
        <p><b>Customer Name</b></p>
        <p><b>Release Date</b></p>
        <p><b>Total</b></p>
        <p><b>Deposit</b></p>
      </div>
      <div class="col-md-3">
        <p><%= @invoice.customer.id %></p>
        <p><%= @invoice.customer.name %></p>
        <p><%= @invoice.release_date.to_formatted_s(:rfc822) %></p>
        <p><%= number_to_currency(@invoice.total) %></p>
        <p><%= number_to_currency(@invoice.deposit) %></p>
      </div>
    </div>
  </div>
</div>
