<div class="box">
  <div class="box-header">
    <h3 class="box-title">Payments Histroy</h3><br><br>
    <div class="box-body no-padding">
      <table class="table table-hover table-responsive">
        <tbody>
          <tr>
            <th>No</th>
            <th>Invoice Number</th>
            <th>Paid Date</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          <% @payments.each_with_index do |payment,index| %>
          <tr>
            <td><%= index +1%></td>
            <td><%= payment.invoice_id %></td>
            <td><%= payment.paid_date.to_formatted_s(:rfc822) %></td>
            <td><%= payment.amount %></td>
            <td>
              <%= link_to "Edit", edit_admin_payment_path(payment), class: "btn btn-sm btn-warning " %>
              <%= link_to "Delete", admin_payment_path(payment), class: "btn btn-sm btn-danger " , method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="pull-right" style="margin-right: 50px;">
      <h6><b>Total: <%= number_to_currency(@invoice.total) %></b></h6>
      <h6><b>Deposit: <%= number_to_currency(@invoice.deposit) %></b></h6>
      <% if @balance == "PAID" %>
        <h6><b>Balance: <%= @balance %></b></h6>
      <%else %>
        <h6><b>Balance: <%= number_to_currency(@balance) %></b></h6>
      <% end %>
    </div>
      <%= link_to "បង់ប្រាក់" , new_admin_payment_path(id: @invoice.id) , class: "btn btn-lg btn-primary"%>
  </div>
</div>
