<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Invoice
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>

    <div class="content">
      <div class="col-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Invoices</h3><br><br>
            <%= link_to "New Invoice" , new_admin_invoice_path , class: "btn btn-primary"%><br>
            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-hover table-responsive">
              <tbody>
                <tr>
                  <th>Invoice NO</th>
                  <th>Customer Name</th>
                  <th>Release Date</th>
                  <th>Deposit</th>
                  <th>Total</th>
                  <th>Action</th>
                </tr>
                <% @invoices.each do |invoice| %>
                <tr>
                  <td>
                    <a href="javascript:void(0)"><%= invoice.id %></a>
                  </td>
                  <td><%= invoice.customer.name %></td>
                  <td>
                    <%= invoice.release_date.to_formatted_s(:rfc822)  %>
                  </td>
                  <td><%= invoice.deposit %></td>
                  <td>
                    <span><%= invoice.total %></span>
                  </td>
                  <td>
                    <%= link_to "View", admin_invoice_path(invoice) , class: "btn btn-sm btn-primary "%>
                    <%= link_to "Edit", edit_admin_invoice_path(invoice), class: "btn btn-sm btn-warning " %>
                    <%= link_to "Delete", admin_invoice_path(invoice), class: "btn btn-sm btn-danger " , method: :delete, data: {confirm: "Are you sure?"} %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

  </div>
</div>
