<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>Invoice Details </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>

    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <%= render 'show_master' %>
        </div>
        <div class="col-md-7">
          <%= render 'show_productions' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'show_payment' %>
        </div>
      </div>

    </div>

  </div>
</div>
