<div class="wrapper">
  <div class="content-wrapper">
    <h1>Test</h1>
    <%= simple_form_for [:admin,@invoice] do |f| %>
      <%= f.text_field :deposit %>
      <div class="invoices">
        <%= f.simple_fields_for :productions do |production| %>
          <%= render 'production_fields' , f: production %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Add", f , :productions  %>
        </div>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>
