<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        New Customer Form
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>
    <div class="content">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Add New Customer</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <%= form_for ([:admin,@payment]) do |f| %>
                <div class="form-group">
                  <%= f.label "លេខវិក័យប័ត្រ" %>
                  <%= f.label "#{@invoice.id}"%>
                </div>
                <div class="form-group">
                  <%= f.label "ថ្ងៃបង់ប្រាក់"%>
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <%= f.text_field :paid_date, data:{ provide:'datepicker'} , class: 'datepicker form-control'%>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label "ចំនួនទឹកប្រាក់"%>
                  <%= f.text_field :amount , class:"form-control" , placeholder: "ចំនួនទឹកប្រាក់"%>
                </div>
                <div class="form-group">
                  <%= f.submit  class: "btn btn-lg btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
        <!-- Box Body-->

      </div>
    </div>
  </div>
</div>
