<div class="wrapper">
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Our Suppliers
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active">General Elements</li>
      </ol>
    </section>
    <div class="content">
      <div class="col-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">List Suppliers</h3>

            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-hover table-responsive">
              <tbody>
                <tr>
                  <th>No</th>
                  <th>User Name</th>
                  <th>Address</th>
                  <th>Contact</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)"><%= @supplier.id %></a>
                  </td>
                  <td><%= @supplier.name %></td>
                  <td>
                    <span class="text-muted"><%= @supplier.address %></span>
                  </td>
                  <td><%= @supplier.contact %></td>
                  <td>
                    <span><%= @supplier.created_at %></span>
                  </td>
                  <td>
                    <%= link_to "Edit", edit_admin_supplier_path(@supplier), class: "btn btn-sm btn-warning " %>
                    <%= link_to "Delete", admin_supplier_path(@supplier), class: "btn btn-sm btn-danger " , method: :delete, data: {confirm: "Are you sure?"} %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>
</div>
