<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="image">
        <%= image_tag("/images/user2-160x160.jpg" ,class: "rounded-circle") %>
      </div>
      <div class="info">
        <p>Gino Emotion</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i>
          Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- Customers -->
      <li>
        <%= link_to admin_customers_path do %>
        <i class="fa fa-envelope"></i>
        <span>Customer</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-yellow">12</small>
          <small class="label pull-right bg-green">16</small>
          <small class="label pull-right bg-red">5</small>
        </span>
        <% end %>
      </li>

      <!-- Supplier -->
      <li>
        <%= link_to admin_suppliers_path do %>
        <i class="fa fa-envelope"></i>
        <span>Suppliers</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-yellow">12</small>
          <small class="label pull-right bg-green">16</small>
          <small class="label pull-right bg-red">5</small>
        </span>
        <% end %>
      </li>

      <!-- Invoices -->
      <li>
        <%= link_to admin_invoices_path do %>
        <i class="fa fa-envelope"></i>
        <span>Invoices</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-yellow">12</small>
          <small class="label pull-right bg-green">16</small>
          <small class="label pull-right bg-red">5</small>
        </span>
        <% end %>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
  <div class="sidebar-footer">
    <!-- item-->
    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings">
      <i class="fa fa-cog fa-spin"></i>
    </a>
    <!-- item-->
    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Email">
      <i class="fa fa-envelope"></i>
    </a>
    <!-- item-->
    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
</aside>
