<!DOCTYPE html>
<html>
  <head>
    <title>AdminSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <%= render "admin/shared/navigation" %>

    <!-- Left side column. contains the logo and sidebar -->
    <%= render "admin/shared/leftsidebar" %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
